<div class ="jumbotron">
	<h2>This is the contact us page</h2>

	<p> contact us via e-mail at :<a href="mailto:counsellingservice@counselling.com">counsellingservice@counselling.com</a> </br>
		Phone us:01110120361
		Office hours are 9am - 5pm
</div>