<script src="./javascripts/Navbar.js"></script>

<h1>{{title}}</h1>
<div class ="jumbotron">
<p>Welcome to the E-counselling service please register <a href ="/register"> here </a> or login via the top right of the navigation bar</p>
<ul>

<div>
